.main {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.icon {
  height: 40px;
  width: 40px;
  margin: 0 20px;
}

.svgContainer {
  margin-bottom: 40px; 
}